extends layout
block content
    h1= title

    form(id='ZirconForm', action="/resource/zircons", method="POST")
        div.form-group
            label.zirconAttr(for='clarity') Zircon clarity
            input#clarity(type='text', name='clarity')
        div.form-group
            label.zirconAttr(for='origin') Zircon origin
            input#origin(type='text', name='origin')
        div.form-group
            label.zirconAttr(for='hardness') Zircon hardness
            input#hardness(type='number', name='hardness')
        input(type="submit")
    script.
        document.forms['ZirconForm'].addEventListener('submit', (event) => {
            event.preventDefault();
            // TODO do something here to show user that form is being submitted
            fetch(event.target.action, {
                method: 'POST',
                body: new URLSearchParams(new FormData(event.target)) // event.target is the form
            }).then((resp) => {
                return resp.json(); // or resp.text() or whatever the server sends
            }).then((body) => {
                alert("Save succeded")
                // TODO handle body
            }).catch((error) => {
                // TODO handle error
                alert("Save failed " + error )
            });
        });